{% extends 'base.html' %}

{%block title%}
Delete Points Group
{%endblock%}

{%block button%}
<ul class="nav nav-pills pull-right">
  <li role="presentation" class="active"><a href="/">Go back to main</a></li>
  <li role="presentation" class="active"><a href="/{{u_id}}/">Home</a></li>
  <li role="presentation"><a href="/{{u_id}}/add">Add Points Group</a></li>
  <li role="presentation"><a href="/{{u_id}}/del">Delete Points Group</a></li>
  <li role="presentation"><a href="/{{u_id}}/rec">Find path</a></li>
</ul>
{%endblock%}          

{%block main_body%}
<style>
  #del_button{
        border-top-left-radius: 5px; 
        border-bottom-left-radius: 5px; 
        border-top-right-radius: 5px; 
        border-bottom-right-radius: 5px; 
        border: 1px solid skyblue; 
        background-color: skyblue;
        color: white; 
        padding: 5px; 
        margin-top: 10px
    }
    #del_button:hover{
        color:white; background-color: rgb(3, 130, 180);
    }
    select{    
            height: 2.5em;
            width: 220px;
            padding: 0 10px;
            box-shadow: 3px 3px 10px black;
            outline: none;
            border: none;
            color:skyblue;
        }
</style>
<center>
    <form method="POST" action="/{{u_id}}/del">
       
        <div class="nametag">
            <select name="column">
                {% for row in data %}
                <option value={{row.id}} > {{row.Name}} </option>
                {% endfor %}
            </select>
            <button type="submit" id="del_button" color="black">
                Delete
            </button>
        </div>
    </form>
</center>
<br/>
<center>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Point Group Name</th>
          </tr>
        </thead>
        {% for row in data %}
        <tbody>
          <tr>
            <th scope="row">{{ row.id }}</th>
            <td>{{ row.Name }}</td>
          </tr>
        </tbody>
        {% endfor %}
    </table>
    <br/>
</center>
{%endblock%}